:root {
  --color-1:#1471b822;
  --color-2:#14b81416;
  --far-left-per:transparent 55%;
  --mid-left-per:transparent 65%;
  --mid-right-per:transparent 70%;
  --far-right-per:transparent 80%;
  --dimension-a:1.5em 2em;
  --dimension-b:2em 1.5em;
}
body {
  max-width:100vw;
  height:100vh;
  display: grid;
  grid-template-areas:'aside main';
  grid-template-columns: auto minmax(0,1fr);
  background-color: black;
  color:white;
  margin:0;
  background-image: 
    linear-gradient(30deg, var(--far-left-per), var(--color-1), var(--far-right-per)),
    linear-gradient(-30deg, var(--far-left-per), var(--color-1), var(--far-right-per)),
    linear-gradient(120deg, var(--far-left-per), var(--color-2),var(--far-right-per)),
    linear-gradient(60deg, var(--far-left-per), var(--color-2), var(--far-right-per)),
    linear-gradient(30deg, var(--mid-left-per), var(--color-1), var(--mid-right-per)),
    linear-gradient(-30deg, var(--mid-left-per), var(--color-1), var(--mid-right-per)),
    linear-gradient(120deg, var(--mid-left-per), var(--color-2), var(--mid-right-per)),
    linear-gradient(60deg, var(--mid-left-per), var(--color-2), var(--mid-right-per));
  background-size: 3em 4em,3em 4em, 4em 3em,4em 3em, 3em 4em,3em 4em, 4em 3em,4em 3em;
  background-size: 
    var(--dimension-a),
    var(--dimension-a),
    var(--dimension-b),
    var(--dimension-b),
    var(--dimension-a),
    var(--dimension-a),
    var(--dimension-b),
    var(--dimension-b);
}
input{
  display:none;
}
input:checked:nth-of-type(1)~aside label:nth-of-type(1),
input:checked:nth-of-type(2)~aside label:nth-of-type(2),
input:checked:nth-of-type(3)~aside label:nth-of-type(3) {
  color:red;
}
/* special <section> reference to set display to "none" */
section {
  display:none;
}
input:checked:nth-of-type(1)~main section:nth-of-type(1),
input:checked:nth-of-type(2)~main section:nth-of-type(2),
input:checked:nth-of-type(3)~main section:nth-of-type(3) {
  display:grid;
}
aside{
  grid-area:aside;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  padding: 20px;
}
aside figure {
  margin-left: 30px;
  height: 150px;
  width: 100px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  background-image: url("assets/images/headshot_0");
}
aside figure:before{
  content: "";
  background-image: conic-gradient(
      #1471b8 20deg,
      transparent 120deg,
      transparent 200deg,
      #14b814 200deg,
      transparent 300deg
  );
  height: 200%;
  width: 200%;
  position: absolute;
  left: -25%;
  top: -25%;
  animation: rotate 5s infinite linear;
}
@keyframes rotate{
  100%{transform: rotate(-360deg)}
}
aside figure:after{
  content: "";
  height: 94%;
  width: 94%;
  position: absolute;
  background-image: url("../Images/headshot_0.png");
  background-size: cover;
  border-radius: 5px;
  top: 3%;
  left: 3%;
}
nav {
  display: flex;
  flex-direction: column;
}
nav label {
  padding: 15px;
  cursor: pointer;
}
nav label:hover {
  text-decoration: underline; 
}
nav label:checked {
  color:red;
}
main {
  overflow-y: scroll;
  max-height: 100vh;
  grid-area:main;
}
section {
  grid-template-columns: 1fr 1fr;
  /* display:none; moved out of normal flow for <input> control functionality */
  padding:20px;
  grid-gap: 20px;
  overflow-y: auto;
}
section>:is(a,article) {
  background-color: black;
  border: 2px outset #1471b8;
  position:relative;
  overflow: hidden;
}
section>:is(a,article):nth-last-of-type(2n) {
  border: 2px  outset #14b814;
}
section>:is(a,article):first-of-type {
  grid-column: 1 / span 2;
  display: table-cell;
}
section>article {
  padding:20px;
}
section a figure{
  background-position: center;
  background-size: cover;
  margin:0;
  width:100%;
  height:300px;
  max-height: 80vh;
  object-fit: contain;
  object-position: 0;
  transform: scale(1);
  transition:all 0.3s ease-out;
}
section a:hover figure {
  transform: scale(1.1);
  filter:blur(3px) opacity(.7);
}
section a figcaption {
  position:absolute;
  bottom:30px;
  left:30px;
  width: 85%;
  overflow:hidden;
}
section a figcaption :is(h3,p) {
  padding:4px;
  background:white;
  transition: all 0.3s ease-out;
  margin:0;
  position:absolute;
}
section a figcaption :is(h3,p):nth-of-type(2n) {
  position:static;
  background:transparent;
  color:transparent;
}
section a figcaption h3 {
  display:inline-block;
  top:100%;
}
section a:hover h3 {
  top:0;
}
section a figcaption p {
  bottom:100%;
}
section a:hover p {
  bottom:0;
}
@media only screen and (max-width: 800px) {
  body {
    grid-template-areas:'aside' 'main';
  }
  aside{
    flex-direction: row;
  }
}


