/* 
 * CSS GRID
 * grid used on <body> and #projects
 */
header{grid-area:header}
nav{grid-area:nav}
section{grid-area:section}
body {
  width:100vw;
  height:100vh;
  overflow:hidden;
  display: grid;
  grid-template-areas:
    'header header'
    'nav section';
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr 3fr;
}
#projects {
  grid-template-columns: 1fr 1fr;
}
#projects article:first-of-type {
  grid-column: 1 / span 2;
}
/* 
 * PAGE FUNCTIONALITY
 * inputs placed highest in <body>
 * when checked inputs:
 *  - changes dipslay of <section>
 *  - color labels
 */
section{display:none}
input{display:none}
input:checked:nth-of-type(1)~section:nth-of-type(1),
input:checked:nth-of-type(2)~section:nth-of-type(2){
  display:block;
}
input:checked:nth-of-type(3)~section:nth-of-type(3) {
  display:grid;
}
input:checked:nth-of-type(1)~nav>label:nth-of-type(1),
input:checked:nth-of-type(2)~nav>label:nth-of-type(2),
input:checked:nth-of-type(3)~nav>label:nth-of-type(3) {
  color:red;
}
/* 
 * OTHER
 * everything not related to CSS grid 
 * or <section> dipslay functionality
 * is found below
 */
:root {
  --color-1:#1471b822;
  --color-2:#14b81416;
  --far-left-per:transparent 55%;
  --mid-left-per:transparent 65%;
  --mid-right-per:transparent 70%;
  --far-right-per:transparent 80%;
  --dimension-a:1.5em 2em;
  --dimension-b:2em 1.5em;
}
body * {
  box-sizing: border-box;
}
body {
  background-color: black;
  color:white;
  margin:0;
  background-image: 
    linear-gradient(30deg, var(--far-left-per), var(--color-1), var(--far-right-per)),
    linear-gradient(-30deg, var(--far-left-per), var(--color-1), var(--far-right-per)),
    linear-gradient(120deg, var(--far-left-per), var(--color-2),var(--far-right-per)),
    linear-gradient(60deg, var(--far-left-per), var(--color-2), var(--far-right-per)),
    linear-gradient(30deg, var(--mid-left-per), var(--color-1), var(--mid-right-per)),
    linear-gradient(-30deg, var(--mid-left-per), var(--color-1), var(--mid-right-per)),
    linear-gradient(120deg, var(--mid-left-per), var(--color-2), var(--mid-right-per)),
    linear-gradient(60deg, var(--mid-left-per), var(--color-2), var(--mid-right-per));
  background-size: 3em 4em,3em 4em, 4em 3em,4em 3em, 3em 4em,3em 4em, 4em 3em,4em 3em;
  background-size: 
    var(--dimension-a),
    var(--dimension-a),
    var(--dimension-b),
    var(--dimension-b),
    var(--dimension-a),
    var(--dimension-a),
    var(--dimension-b),
    var(--dimension-b);
}
header {
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}
nav {
  display: flex;
  flex-direction: column;
}
nav label {
  padding: 20px;
  padding-left: 40px;
  cursor: pointer;
}
nav label:hover {
  text-decoration: underline; 
}
nav label:checked {
  color:red;
}
section {
  overflow-y: auto;
}
section p,
section article {
  background-image:
    linear-gradient(transparent ,black,transparent),
    linear-gradient(90deg, transparent, black, transparent);
  border: 1px solid red;
}