// variables
$fontHeight: 26px;
$lineHeight: 26px;
$imageMultiplier: 8;

.about {
  img {
    width: calc($lineHeight * $imageMultiplier);
    height: calc($lineHeight * $imageMultiplier);
    float: left;
    border-radius: 100%;
    margin: $lineHeight calc($lineHeight/2) calc($lineHeight/2) 0;
  }
  .emp1 {
    font-weight: bold;
    color: var(--theme-color);
    white-space: normal;
    font-family: monospace;
  }
  p {
    font-size: calc($fontHeight * 0.9);
    line-height: $lineHeight;
  }
}
