#page-contact {

  a,
  div {
    padding: 0.75rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: $txt1;

  }
  svg {
    height: 3rem;
    width: 3rem;
    margin-bottom: 0.5rem;
    color: var(--theme-color);
  }
  h3 {
    margin: 0;
    display: inline;
  }
}

