#pages-project {
  section {
    // make height equal to the width
    padding-bottom: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 1rem;
    border: 2px solid black;
    filter: drop-shadow(0px 0px 3px var(--theme-color));
    > div {
      background-color: red;
      display: flex;
      flex-direction: column;
    }
    a {
      color: $txt1;
      text-decoration: none;
      background-color: $bg3;
      padding: 1rem;
      margin: 1rem;
      border-radius: 1rem;
      &:hover {
        color: $acc1;
        background-color: $bg2;
      }
    }
  }
}
